@import url(all.css);

@import url(fonts.css);

@import url(block/header.css);

@import url(block/main/main.css);

@import url(block/main/cyberpunk.css);

@import url(block/main/about.css);

@import url(block/main/promo.css);

@import url(block/main/hp.css);

@import url(block/main/buy.css);

@import url(block/footer.css);