.footer__top {
    padding: 14px;
    padding-bottom: 8px;
}

.footer__top-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 36px;
    margin: 0 auto;
}

.footer__link {
    margin-right: 28px;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: black;
    cursor: auto;
}

.container__left {
    margin-left: 30px;
}

.footer__bottom {
    font-size: 12px;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
}