.header {
    position: absolute;
    width: 100%;
}

.header__container {
    margin: 0 auto;
    padding: 20px 36px;
    display: flex;
    justify-content: space-between;
    max-width: 1352px;
}

.header__social-media {
    margin-right: 45px;
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header__logo {
    margin-left: 75px;
}

.header__social-item {
    padding-right: 40px;
}