.about {
    padding-top: 65px;
    padding-bottom: 65px;
}

.about__container {
    margin: 0 auto;
    padding: 0 85px;
}

.about__container-title {
    margin: 0;
    margin-bottom: 25px;
    font-family: 'Archangelsk';
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;
    color: black;
}

.about__container-game {
    margin-bottom: 60px;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 34px;
    color: rgb(119, 119, 119);
    max-width: 950px;
}

.about__container-game-color {
    color: #52BEDC;
}

.about__container-pic {
    margin: 0;
    display: grid;
    grid-template-columns: 460px 788px;
    grid-template-rows: 196px 196px;
    gap: 32px 35px;
    width: 1326px;
    border: none;
}

.about__container-pic-1, .about__container-pic-3 {
    width: 460px;
    height: 196px;
    clip-path: polygon(10% 0px, 100% 0px, 100% 83%, 90% 100%, 0px 100%, 0px 17%);
    object-fit: cover;
}

.about__container-pic-2 {
    margin-right: 0;
    width: 788px;
    height: 424px;
    clip-path: polygon(10% 0px, 100% 0px, 100% 83%, 90% 100%, 0px 100%, 0px 17%);
    object-fit: cover;
}